* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;

}

html,
body {
    min-height : 100vh;
    font-family: "Open Sans", serif;
    overflow-y : auto;
}

a {
    color          : inherit;
    text-decoration: none;
}

li {
    list-style: none;
}


.main-page {
    min-height      : 100vh;
    background-color: #0f0715;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.card {
    width           : 100%;
    min-height      : 150px;
    background-color: #140c1c;
    border          : 1px solid #2a1454;
    padding         : 20px;
    border-radius   : 15px;
    margin-bottom   : 24px;

    &:last-child {
        margin-bottom: 0;
    }
}